{% extends "layout.html" %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('wachtwoord_aanpassen') }}">
                <!-- <div class="form-group">
                    <label for="exampleInputOldPassword1">Old Password</label>
                    <input type="password" class="form-control" name="oldPassword" placeholder="OldPassword">
                </div> -->
                <div class="form-group">
                    <h3>Kies een nieuw wachtwoord!</h3>
                    <label for="exampleInputPassword1"></label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Verander wachtwoord</button>
                <div class="msg">{{ msg }}</div>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}