{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profiel</h2>
<div>
    <p>Account gegevens:</p>
    <table>
        <tr>
            <td>Gebruikersnaam:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
<div class="containertest">
    <p>Persoonsgegevens:</p>
    <table>
        <tr>
            <td>Klas:</td>
            <td>{{ account['classid'] }}</td>
        </tr>
        <tr>
            <td>Gewicht:</td>
            <td>{{ account['weight'] }}</td>
        </tr>
        <tr>
            <td>Leeftijd:</td>
            <td>{{ account['dateofbirth']}}</td>
        </tr>
        <tr>
            <td>Lengte:</td>
            <td>{{ account['length'] }}</td>
        </tr>
    </table>
    <input class="submit" type="submit" value="Wijzigen">
    <a href="{{ url_for('wachtwoord_aanpassen') }}"><input class="pwchanger" type="submit" value="Wachtwoord wijzigen"></a>
    <a href="/fcgroningeniot/profile/delete-account"><input class="del" type="submit" value="Account verwijderen"></a>
    </div>

    <h2>Groepsgegevens</h2>
    <div class="container-groep">
        <div class="groups">
            <table>
                <tr>
                    <td>Groepid:</td>
                    <td>{{ account['classid'] }}</td>
                </tr>
                <tr>
                    <td>Groepnaam:</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>Leden:</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <h2>Importeren van gegevens</h2>
    <div class="container-import">
        <div class="import">
            <form action = "{{ url_for('upload_file') }}" method = "POST" 
                enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit"/>
            </form>   
        </div>
        <div class="export">

        </div>
    </div>
{% endblock %}